{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- INICIO DO TITLE -->
    <title>{% block title %} Blog com Django {% endblock %}</title>
    <!-- FIM DO TITLE -->

</head>

<body>
    <!--INICIO DO HEADER-->
    {% block navbar %}
    <header>
        <div class="navbar-fixed">
            <nav class="black z-depth-3">
                <div class="nav-wrapper container">
                    <a href="{% url 'index' %}" class="brand-logo"><img src="{% static 'img/logo.png' %}" alt="" height="60px"></a>
                    <a href="{% url 'post-new' %}" class="btn-floating pulse btn-large halfway-fab waves-effect waves-light purple">
                        <i class="material-icons">add</i>
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"
                            style="color: purple;">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'index' %}" class="purple-text"><i
                                    class="material-icons left">home</i>INÍCIO</a></li>
                        <li><a href="#" class="purple-text"><i class="material-icons left">contacts</i> CONTATO</a></li>
                        <li><a href="#" class="purple-text"><i class="material-icons left">info</i> SOBRE</a></li>
                        <li><a href="#" class="black-text purple dropdown-trigger btn" data-target='dropdown1'><i
                                    class="material-icons left">face</i>MINHA CONTA <i
                                    class="material-icons left">expand_more</i></a>
                        </li>

                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#">ADICIONAR POST</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#">ENTRAR</a></li>

                        </ul>

                    </ul>
                </div>
            </nav>

            <ul class="sidenav black" id="mobile-demo">
                <li><a href="#" class="purple-text"><i class="material-icons" style="color: purple;">home</i> HOME</a>
                </li>
                <div class="divider purple"></div>
                <li><a href="#" class="purple-text"><i class="material-icons" style="color: purple;">info</i> INFO</a>
                </li>
                <div class="divider purple"></div>
                <li><a href="#" class="black-text dropdown-trigger btn purple" data-target='dropdown2'><i
                            class="material-icons left" style="color: black-text;">face expand_more</i> MINHA CONTA </a>
                </li>
            </ul>

            <ul id='dropdown2' class='dropdown-content'>
                <li><a href="#">ADICIONAR POST</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#">ENTRAR</a></li>

            </ul>
            <div class="divider purple"></div>
        </div>
    </header>
    {% endblock %}
    <!--FIM DO HEADER-->

    <!--INICIO DO MAIN-->
    <section>
        <main class="container">
            {% block content %}

            <h1>Conteudo principal</h1>

            {% endblock %}
        </main>
    </section>
    <!--FIM DO MAIN-->

    <!--INICIO DO FOOTER-->
    <section>
        {% block footer %}
        <footer class="page-footer black purple-text">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="purple-text">Biblioteca Virtual</h5>
                        <p class="purple-text-lighten-4">Conteudo do subtitulo.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="purple-text">Links Úteis</h5>
                        <ul>
                            <li><a class="purple-text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="purple-text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="purple-text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="purple-text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container purple-text center">
                    © 2021 Copyright
                    <a class="purple-text-lighten-4 right" href="#!">Redes Sociais.</a>
                </div>
            </div>
        </footer>
        {% endblock %}
    </section>
    <!--FIM DO FOOTER-->

</body>

<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</html>