{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

{% if posts %}

{% if user.is_authenticated %}
    <section class="center"><h4>SEUS POSTS </h4></section>
{% endif %}

{% for post in posts %}
<div>
    <h3><a href="{% url 'blog:post-detail' pk=post.pk %}">{{ post.title }}</a></h3>
    <!--url detail cria uma url automaticamente, o pk é relacionado a chave primaria-->
    <p><b>Publicado em :</b> {{ post.created_data }}</p>

    <p><b>Autor :</b> {{ post.author}}</p>

    <p class="truncate">{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %}

{% else %}

<div style="margin-top: 30px; margin-bottom: 30px">
    <h4 class="center">Você não tem posts cadastrados no nosso banco de dados !!</h4>
    <div class="center"><a href="{% url 'blog:post-new' %}"><button class="btn purple black-text z-depth-3 ">CRIAR POST</button></a></div>
</div>

{% endif %}

{% endblock %}