{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col s12">
        <section>
            <h3 class="title modal-trigger"><a>{{ post.title }}</a></h3>
        </section>

        {% if post.cover %}
        <div class="center">
            <img src=" {{ post.cover.url }}" style="width: 75%; height:75%">
        </div>
        {% endif %}



        <section>
            <p class="">{{ post.text }}</p>
        </section>
        <section>
            <div class="row">
                <div class="col s6">
                    <div class="center">

                        {% if request.user.is_authenticated %}

                        <a><button data-target="modal_editar"
                                class="btn waves-effect waves-light btn modal-trigger"><i
                                    class="material-icons"><img src="{% static 'icons/mode_edit.svg' %}" alt=""></i>
                                EDITAR</button></a>
                        
                        {% endif %}

                    </div>
                </div>

                <div id="modal_editar" class="modal">
                    <div class="modal-content">
                        <h4>Realmente Deseja Editar ?</h4>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                        <a href="{% url 'blog:post-edit' post.pk %}" class="modal-close waves-effect waves-green btn-flat">Sim</a>
                    </div>
                </div>

                <div class="col s6">
                    <div class="center">

                        {% if request.user.is_authenticated %}

                        <a><button data-target="modal2"
                                class="btn waves-effect waves-light btn modal-trigger"><i
                                    class="material-icons"><img src="{% static 'icons/delete.svg' %}" alt=""></i>
                                DELETAR</button></a>

                        {% endif %}

                    </div>
                </div>

                <div id="modal2" class="modal">
                    <div class="modal-content">
                        <h4>Realmente Deseja Apagar ?</h4>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                        <a href="{% url 'blog:post-delete' post.pk %}" class="modal-close waves-effect waves-green btn-flat">Sim</a>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

{% endblock %}