
{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="post">
        <div class="date">
            <h1 id="autor"> Autor: {{post.author}} </h1>
                <p>Publicado em : {{ post.created_data }}</p>
                    </div>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2> <!--url detail cria uma url automaticamente, o pk é relacionado a chave primaria-->
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
{% endblock %}
